
<link rel="stylesheet" href="/main.css">
<script src="index.js" defer></script>

<header>
  <div>
    <a href="/">
      <p>JSKata</p>
    </a>
  </div>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/learn">Learn</a>
  </div>
  <div>
    <a href="/login">
      <button>login</button>
    </a>
  </div>
</header>