@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;

    // font sizes
    --general--font-size: 16px;
    --title--font-size: 30px;

    // colors
    --color--text-primary: #0c002e;
    --color--background-primary: #222222;
}