body, * {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    font-size: var(--general--font-size);
    padding: .25rem 1rem;
    border-radius: .25rem;
}

a {
    text-decoration: none;
    font-size: var(--general--font-size);
}

p {
    font-size: var(--general--font-size);
}

h1 {
    font-size: var(--title--font-size);
}